[2019-06-16 05:57] koxudaxi opened #1 "support blobValue"
Add to support `blobValue` response on the field.

The value must be Base64-encoded.

https://docs.aws.amazon.com/rdsdataservice/latest/APIReference/API_Field.html#rdsdtataservice-Type-Field-blobValue

[2019-06-19 13:59] #1 closed

[2019-06-19 15:48] koxudaxi opened #6 "Support columnMetadata"
DataAPI can return columns information as `cloumnMetadata`

local-data-api should parse and map columns data from sqlalchemy's API.

[2019-06-26 15:55] koxudaxi commented on #6
https://github.com/koxudaxi/local-data-api/pull/11
First, I have created the pull request to support column metadata.
But, Python's MySQL driver cannot get some columns information with a query. (I may not know to resolve the problem.)

https://github.com/koxudaxi/local-data-api/pull/14
Second, I think DataAPI uses JDBC driver for accessing a database.
I make a pull request to support JDBC driver

[2019-06-28 08:02] koxudaxi commented on #6
https://github.com/koxudaxi/local-data-api/pull/14
I have changed MySQL driver to JDBC
local-data-api return columnMetadata.

[2019-06-28 08:02] #6 closed

[2019-08-06 16:07] koxudaxi opened #22 "Support `continue-after-timeout`"
## Feature

### continue-after-timeout
`A value that indicates whether to continue running the statement after the call times out`

https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html

[2019-08-06 16:10] koxudaxi opened #23 "API limitation"
### Feature
DataAPI has limitations when running SQL Statement.

https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html

[2019-08-06 16:12] koxudaxi opened #24 "Transaction Timeout"
## Feature
The API should handle timeout of transaction.

https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html

[2019-09-25 05:20] koxudaxi opened #27 "Support PostgreSQL"
## Related Links
https://aws.amazon.com/about-aws/whats-new/2019/09/amazon-aurora-serverless-postgresql-now-supports-data-api/

[2019-10-12 08:25] marchant opened #35 "Is this accessing an actually Aurora Serverless Instance running in a VPC?"
Or is it creating a local DB that responds to the http based Data API to run local tests? Have you tested it with something like aws-sdk for node.js? Thanks!

[2019-10-12 08:52] koxudaxi commented on #35
No. However, The local-data-api can access actually Aurora Serverless Instance by a setting.

Yes, I show you docker-compose.yml for accessing local MySQL container.
Also, local-api-api can connect other real databases to include Aurora.
[code]

Yes, I have not tested it with aws-SDK, I have tested only boto3(python3) and awscli
However, if you can change the endpoint URL  then, any client can use

[2019-10-13 00:06] marchant commented on #35
Thanks, the way I have found to be a able to reach my Aurora Serverless PostreSQL Instance is by using ssh tunneling through an EC2 instance running in the same VPC as the Aurora Serverless PostreSQL Instance. Using PgAdmin connecting to 127.0.0.1 and the port I chose locally for the ssh tunnel, it works. So to do what I want, should POSTGRES_HOST in
services:
  local-data-api:
      environment:

[2019-10-13 14:48] koxudaxi commented on #35
Yes, If you use actually database then, you remove `db:` entry.
Also,  you should set your database setting in the environment.( eg: POSTGRES_USER)

Sorry, I can't see the error, I try it with this code and its a success.

[code]

output:
[code]

Would you please show your code here?

[2019-11-13 16:11] #27 closed

[2019-11-14 11:37] mimattan opened #38 "JVM Crashes"
**Describe the bug**
When performing the execute-statement request, I get the following error:

[code]

**To Reproduce**
1. Start the docker image:
`run --rm -it --name my-data-api -p 8080:80  -e MYSQL_HOST=127.0.0.1 -e MYSQL_PORT=3306 -e MYSQL_USER=root -e MYSQL_PASSWORD= -e RESOURCE_ARN=arn:aws:rds:us-east-1:123456789012:cluster:dummy -e SECRET_ARN=arn:aws:secretsmanager:us-east-1:123456789012:s

[2019-11-15 06:50] koxudaxi commented on #38
@mimattan

The IP may be an invalid address, which I think is a local machine address.
local-data-api is not local, which is in a docker container.
local-data-api could not access to local(127.0.0.1) from a container. It is another network.

Cloud you use MySQL container?
Or, You have to change the network setting on a container.

BTW, the crash message is not user-friendly.
I want to change it to

[2019-11-18 14:34] ernestasdeveloper commented on #38
Facing the same problem

# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fd84c48f0f9, pid=12, tid=0x00007fd8541cbb88
#
# JRE version: OpenJDK Runtime Environment (8.0_222-b10) (build 1.8.0_222-b10)
# Java VM: OpenJDK 64-Bit Server VM (25.222-b10 mixed mode linux-amd64 compressed oops)
# Derivative: IcedTea 3.13.0
# Distribution: Custom build (Tue

[2019-11-18 15:47] koxudaxi commented on #38
@ernestasdeveloper
Thank you for reporting an error.

I have tested your steps, which wrote here, after remove all images container.
It was success.
[code]
of course, I used your `docker-compose.yml`.
My machine is Ubuntu 18.04.
I don't know why you got an error. I try to test on Mac.

[2019-11-18 15:51] mimattan commented on #38
Hi @koxudaxi

I also have this issue on a Mac.

[2019-11-18 16:16] koxudaxi commented on #38
I have run the same test on my Mac.
The result is a success.

I show you all the information in my environment.
macOS: 10.13.6

Docker version
[code]

awscli version
[code]

remove all containers and images manually.
[code]

I think local-data-api must detail the message for debugging.

[2019-11-27 13:37] cjjenkinson commented on #38
I also have this error

[code]

AWS Cli
[code]

On OSX

[2019-11-27 17:07] koxudaxi commented on #38
@cjjenkinson
Thank you for your reporting.
I got the same error with your docker-compose.yml in my machine.
 And I found a cause!! If the SQL request is invalid, then, local-data-api shows the errors because error handling is not good.

Your docker-compose.yml is not correct. You set an `example` as a password. (`MYSQL_PASSWORD: example` ) But,  In the DB section,  You write` MYSQL_ROOT_PASSWORD:

[2019-11-27 17:18] koxudaxi commented on #38
@mimattan
I have re-checked your command in your first post.
It looks password empty. `MYSQL_PASSWORD= `
If it is actually then, local-data-api could not request to SQL Server.

[2019-11-27 17:24] koxudaxi commented on #38
@ernestasdeveloper
I just remembered that boto3 validates ARNs.
[code]
local-data-api can not use the ARNs.
you should valid format dummy ARN like `arn:aws:rds:us-east-1:123456789012:cluster:dummy`
Also, would you please run the latest version?  ` image: koxudaxi/local-data-api:latest`

[2019-11-29 08:05] cjjenkinson commented on #38
Thank you, I've got this working now!

[2019-12-18 13:05] cjjenkinson opened #41 "Invalid Transaction Id"
**Describe the bug**

When beginning a new transaction on first statement execution (of multiple) it throws an Error: Invalid Transaction Id

**Expected behavior**

The transaction id to be persistent across multiple statement executions when committed.

**Additional context**

Node.JS project using AWS CDK Aurora client to execute statements.

[2019-12-19 16:59] koxudaxi commented on #41
@cjjenkinson
Thank you for creating this issue.
I have fixed the problem and published a new image as `0.4.2`.
Could you please check it?

[2019-12-20 13:21] cjjenkinson commented on #41
@koxudaxi Thank you for being so responsive, I can not confirm it works as expected.

[2019-12-21 19:26] koxudaxi commented on #41
@cjjenkinson
Did you tell me how did you test it?

I can't look at any error after pulling local-data-api version 0.4.2 or later.

I ran this test code in parallel.
node: v8.10.0
aws-sdk: aws-sdk@2.592.0

[code]

[2020-02-03 08:02] koxudaxi commented on #35
I can't get any response for a long time.

[2020-02-03 08:02] #35 closed

[2020-02-03 08:05] koxudaxi commented on #38
I guess the problem affects invalid settings.
If someone writes about the same error, then I will open the issue again.

[2020-02-03 08:05] #38 closed

[2020-02-14 21:50] mreed19 opened #44 "Non-Default database does not work with PostgreSQL"
**Describe the bug**
Using a database other than the default database (`postgres`) does not work.

**To Reproduce**
1. Start Postgres Docker Compose

[code]

2. Run AWS rds-data execute statement `SELECT current_database();`

[code]

**Expected behavior**
Result should be:

[code]

**Actual Behavior**
Actual results:

[code]

**Desktop (please complete the following information):**
 - OS: macOS Ca

[2020-02-17 08:12] koxudaxi commented on #44
@mreed19
Thank you for your report.
I have released a fixed version as version 0.4.5.

[2020-02-17 17:31] mreed19 commented on #44
That fixed it! Thanks so much for resolving this so quickly.

[2020-02-17 17:31] #44 closed

[2020-02-26 08:02] chris commented on #38
As a potentially helpful tip (how I solved this for my case), when you are NOT using Docker Compose, and working with a locally running database, at least on macOS, you can set the DB HOST (e.g. `POSTGRES_HOST` or `MYSQL_HOST` ) to `host.docker.internal`. For example, I'm using this with Postgres that is already running via Brew on my machine:
[code]

[2020-02-26 14:32] koxudaxi commented on #38
@chris
Thank you for posting your tip.
I didn't know the behavior of docker on macOS.
We need a lot of knowledge of the app :nerd_face:

Also, I had fixed a bug when using Postgres. https://github.com/koxudaxi/local-data-api/issues/44
The bugfix may help someone:wink:

[2020-02-26 19:19] chris commented on #38
@koxudaxi happy to help - thanks so much for making this in the first place!

[2020-03-24 20:35] Apoalex92 opened #49 "Cannot find parameter - Error binding null parameter SQLAlchemy"
Hello,
I've encountered a problem when trying to call the the Execution API.

I'm performing a query like the one reported in the following, so I would like to extract all the employees belonging to a nation (given in the form of UUID) and with a specific language, if provided in input parameters:
`select * from employes emp where emp.nation = cast(:nation as UUID) and :lang is null or t.language

[2020-03-24 23:41] mreed19 commented on #49
Just ran into this issue as well and the solution you gave fixed it for me!

[2020-03-25 08:42] Apoalex92 opened #50 "SIGSEGV error in JRE when connecting to the database"
Hello!
sometimes I run into the following error when runnning the _local-data-api_ container:

[code]
The reported section is taken from `docker logs` of a container running the _local-data-api_ image.

It seems that the problem is related to the amount of memory space reserved to the JVM, as suggested into the stacktrace it could be useful to increase it.
I don't know how you could reproduce the

[2020-03-25 18:08] koxudaxi commented on #50
@Apoalex92

Thank you for creating the issue.

I will search for a method of how to increase reserved JVM memory size :+1:

I agree!! But, I choice JDBC driver for actual `ColumnMetadata`.

I made it with `pymysql` to access a DB.
However, I know we need to get `ColumnMetadata` with `includeResultMetadata`.
https://docs.aws.amazon.com/rdsdataservice/latest/APIReference/API_ColumnMetadata.html
I ha

[2020-03-25 18:14] koxudaxi commented on #49
@Apoalex92
Thank you for creating the issue.

I'm happy to get a great workaround :+1:
I will fix it this weekend.

[2020-03-26 08:55] agatim commented on #50
Hello!

If you want the column metadata you can query the table information_schema.columns (is available for Postgres and MySQL). Check the documentation:

PostgresSQL: https://www.postgresql.org/docs/9.1/infoschema-columns.html
MySQL: https://dev.mysql.com/doc/refman/8.0/en/columns-table.html

[2020-03-26 11:53] koxudaxi commented on #50
@agatim
I will check the documents!!
Thank you very much :smile:

[2020-03-29 16:18] koxudaxi commented on #49
@Apoalex92
@mreed19

I have released a fixed version as  `0.4.8` :tada:

[2020-03-31 09:13] Apoalex92 commented on #49
@koxudaxi Thank you so much!

[2020-04-02 07:08] sdurban opened #53 "Support bigint"
**Describe the bug**
When you try to get a table definition with a query like:

App will crash with the error:

**To Reproduce**
In mysql/mariadb create a schema an try to get the table definition with a query like:

User-Agent: aws-sdk-nodejs/2.647.0 linux/v12.16.1 promise
Content-Type: application/json
{
  "secretArn": "arn:aws:secretsmanager:us-east-1:123456789012:secret:dummy",
  "resourceArn"

[2020-04-03 01:27] koxudaxi commented on #53
@sdurban
Thank you for creating this issue and PR.

I didn't check the type. I'm happy :)

I have released a new version as `0.4.9`
you can pull it from DockerHub.

Thank you very much.

[2020-04-03 06:43] sdurban commented on #53
@koxudaxi Thank you so much for the speedy merge ;)!

[2020-04-03 06:43] #53 closed

[2020-04-04 16:00] cinqi commented on #41
I get the same error when using local-data-api with knex migrations. Same setup works when executing migrations to AWS Aurora instance.

`migration failed with error: select "name" from "knex_migrations" order by "id" asc - Invalid transaction ID
{
  method: 'update',
  options: {},
  timeout: false,
  cancelOnTimeout: false,
  bindings: [ 0 ],
  __knexQueryUid: 'ebf12cf0-7689-11ea-a444-5377164758

[2020-04-04 16:15] koxudaxi commented on #41
@cinqi
Thank you for your reporting.
Could you please show me more information?
I guess you give other SQL to local-data-api before getting the error.

[2020-04-04 16:37] cinqi commented on #41
Forgot to add local-data-api version, I'm using 0.4.9 Docker image and PSQL database.

I have installed knex (0.20.13) and knex-aurora-data-api-client (1.1.3) and I have following knexfile.js config:

    client,
    debug:true,
    connection: {
      secretArn: 'arn:aws:secretsmanager:eu-west-1:123456789012:secret:dummy',
      resourceArn: 'arn:aws:rds:eu-west-1:123456789012:cluster:dummy',

[2020-04-05 15:46] koxudaxi commented on #41
@cinqi
Thank you for show me the details.
I try this migration tool with empty migration. It is a success.
Could you give me your migration files?

Also, I will implement an option to show debug information on local-data-api.

[code]

[2020-04-05 17:40] #49 closed

[2020-04-06 05:59] cinqi commented on #41
I'll give it a try. Tested with MySQL but it has a problem with the knex-data-api-client itself https://github.com/markusahlstrand/knex-data-api-client/issues/11

[2020-04-06 06:11] cinqi commented on #41
Migrations work when first running without any migration files. After creating new migration file, migrations are also executed correctly. Also tested rollback, works. Then added two migrations, worked.

Tested with sample migration file:
[code]

[2020-04-06 16:45] koxudaxi commented on #41
@cinqi
Thank you for the example of migration files.
I have tried a few cases to get errors. However, any operation is successful.
What should I do to show me errors? :thinking:

[2020-04-06 17:53] cinqi commented on #41
I got the error when I tried to run aforementioned migration script to an empty database, empty meaning knex_migrations tables were not present. So, empty database, add sample migration to migration folder, run knex migrate:latest. If knex tries to create the knex_migration table AND the tables in the migration itself, it seemed to fail to Invalid Transaction error.

[2020-04-06 18:36] koxudaxi commented on #41
@cinqi
`local-data-api` treats transaction each database.
If you use the same transaction over multiple databases, then you get an error.
But, I don't think this case is not this pattern.

Also, I try your case. But, I can't see errors.

1. remove all containers.
``` $ docker rm -f `docker ps -q -a```
2. prune volume for clean up database data.
```$ docker volume prune -f ```
3. run local-data-api

[2020-04-07 12:52] cinqi commented on #41
Ok, retried the whole thing. Got PSQL docker db up and running, dropped the database and created new one (meaning no knex_migrations table existed). Ran migrations with few test migrations and everything went ok.

So, I am also now unable to reproduce this error. Thank you for the quick responses!

[2020-04-18 20:32] Custos opened #58 "Disregard"
Disregard

[2020-04-18 21:26] #58 closed

[2020-04-30 15:30] akarmes opened #60 "Error: "Exception in ASGI application""
**Describe the bug**

Querying local-data-api causes this error:

[code]

**To Reproduce**

Problem occurs only with MySQLJDBC in Codeship CI. It works great with PostgreSQLJDBC both locally and in Codeship and with MySQLJDBC locally.

My Codeship config looks like that:

[code]

What I can see is that MySQL is operational and unit tests with direct DB connection are green.

[2020-04-30 17:38] koxudaxi commented on #60
@akarmes
Thank you for creating this issue.

I have fixed and publish a new image as `0.4.11`

I could not replay the error. But, I guessed a reason for the error. I think I could fix the error.

Could you please test the new version?
Docker daemon may use a cached old version, you should set the new version as a tag of the image.

[2020-04-30 20:56] akarmes commented on #60
@koxudaxi New version completely resolves the issue. Thank you so much for such a lightning speed!

[2020-04-30 20:56] #60 closed

[2020-05-15 08:56] sdurban opened #62 "Support PgArray"
**Describe the bug**
When you try to get a postgresql array column like:

App will crash with the error:

**To Reproduce**
In postgresql make a query like (engine configured as PostgreSQLJDBC).

User-Agent: aws-sdk-nodejs/2.647.0 linux/v12.16.1 promise
Content-Type: application/json
{
  "secretArn": "arn:aws:secretsmanager:us-east-1:123456789012:secret:dummy",
  "resourceArn": "arn:aws:rds:us-east

[2020-05-15 09:36] koxudaxi commented on #62
@sdurban

I agreed.
I will create issue for this refactoring.
But, I may not able to get time refactoring the logic on another project :sweat_smile:

[2020-05-15 09:45] koxudaxi opened #64 "Refactor conversions-per-type"
We must refactor conversions-per-type.
This method is used for all DB resources.
It must be implemented per individual DB Resource.
https://github.com/koxudaxi/local-data-api/blob/5ef10d933af9fabdb671d80741ed6f5301707d15/local_data_api/models.py#L28-L53
## Motivation
This issue is forked from #62

[code]

[2020-05-15 09:54] sdurban commented on #62
Thanks for the fast accept ;).

[2020-05-15 09:54] #62 closed

[2020-05-21 10:53] sdurban commented on #64
Hello!

Since this issue is my fault, I will "try to make a PR" next week (if my fulltime job allows me).

[2020-05-21 10:57] koxudaxi commented on #64
Thank you.
I may have too many active OSS projects :sweat_smile:

[2020-05-27 15:28] #64 closed

[2020-06-09 18:21] hobochild commented on #41
I've bumped into this issue myself. The cause seems to be the problem of creating a transaction and not executing anything before calling commit.

eg if you do:
[code]

I've gotten around this issue but not starting the transaction unless there are migrations to execute, but I didn't hit the same problem when interacting with the aurora data api.

[2020-06-09 18:27] koxudaxi commented on #41
@hobochild
Thank you for posting the problem detail and workaround.
I will think about whether to able to resolve the problem tomorrow.

[2020-06-11 04:43] koxudaxi commented on #41
Sorry, My report was late.

I write the result.
I could not error reappearance.

[code]

I will continue the research about the problem.
Also, Any comment is welcome.

[2020-06-11 16:36] hobochild commented on #41
hmm strange, I'll put together a minimal reproduction of the issue and we can take it from there.

[2020-06-15 09:01] hobochild commented on #41
Hey @koxudaxi,

Here is a reproduction of the issue: https://github.com/hobochild/local-data-api-issue

Like I mentioned earlier this isn't a blocker for me as I'm just checking if there are statements to be executed before creating committing the transaction, but hopefully, it's helpful.

[2020-06-15 17:37] koxudaxi commented on #41
@hobochild
I have reproduced the issue :tada:
I will fix the bug in this week :nerd_face:
Thank you very much.

[2020-06-18 17:20] koxudaxi commented on #41
@hobochild @cjjenkinson

I have fixed it and released a fixed version as `0.4.14` :tada:

`local-data-api` offed auto-commit when running a query.
Therefore, If local-data-api do `commit` without any query then, the app gets the error.

Thank you for your kindness.

[2020-06-18 18:23] hobochild commented on #41
Great thanks for fixing 👍

On Thu, Jun 18, 2020, 7:20 PM Koudai Aono <notifications@github.com> wrote:

[2020-06-19 23:10] alexisespinosa commented on #50
Hi @koxudaxi

I hit same error, is there a workaround? Saw your #69 pr but not sure if that fixes it

Thanks!

[2020-06-20 05:35] koxudaxi commented on #50
Thank you for your reporting!!
It's awesome :rocket:

I can't be waiting for the release of  `jpype` :laughing:

[2020-06-28 15:52] MarkHerhold commented on #38
Better handling with error details would be greatly appreciated. I'm facing an issue where `local-data-api` works locally but not in GitHub actions and I can't figure out why. 🤷‍♂️

For the curious: https://github.com/cbschuld/rds-data/pull/9

[2020-06-28 16:02] koxudaxi commented on #38
@MarkHerhold

Interesting:thinking:

https://github.com/koxudaxi/local-data-api/pull/69

This PR can show the detail of crash messages.
Could you try it on your GitHub action?

[2020-06-29 21:53] MarkHerhold commented on #38
@koxudaxi I encounter different errors with that PR, even locally.

Query:
[code]

Logs:
[code]

[2020-06-30 03:52] MarkHerhold opened #70 "Idea: Rewrite in Java/Kotlin"
This is a crazy idea, but because this project is so coupled to a JDBC driver, it might be worthwhile to rewrite `local-data-api` in Kotlin, perhaps with a framework like javalin. 🤔

I do not have the skills or expertise to do this but just wanted to throw the idea out there.

[2020-06-30 16:00] koxudaxi commented on #38
@MarkHerhold
Thank you for showing me the way to reproduce the error.

I understand why the error happens.

I fixed a bug around auto-commit on JDBC.
But, I forgot to handle a case that runs execute-statement without `transactionId`.
https://github.com/koxudaxi/local-data-api/pull/67

I have fixed the problem and released it as `0.4.15`.

Would you please test it?

I think this project must have u

[2020-06-30 16:27] koxudaxi commented on #70
@MarkHerhold
I think a good idea. The point is cost to implement.
If the Python-version fills the feature and stability, then I don't think to need it. the cost will be expensive. of course, the cost is the time to develop a Kotlin version.

But, I may change it to the kotlin-version when we need to cover the requirements.

I explain why I choose python and JDBC.

1. Python is my main programing l

[2020-07-24 15:55] pzula opened #74 "Using README instructions, receiving `botocore.exceptions.ClientError`"
**Describe the bug**

Using the README instructions for a `docker-compose.yml` file for Postgres settings, I receive the following error when executing the test commands in the README:

[code]

**To Reproduce**

The README describes setup for the `docker-compose.yml` file for Postgres as follows, which I am using:

[code]

In my python environment, I have the `boto3` package with version `==1.13.7

[2020-07-24 16:19] koxudaxi commented on #74
@pzula
Would you show me the errors on docker-compose?
I guess your SQL is incorrect. PostgreSQL doesn't support `show databases`. It's for MySQL.
 Could you please try `'SELECT datname FROM pg_database'`  for PostgreSQL?

Also, I recommend to set the latest version like `koxudaxi/local-data-api:0.5.0`
I tried below with `koxudaxi/local-data-api:0.5.0`

[code]

[2020-07-24 16:46] pzula commented on #74
@koxudaxi Thank you, it appears that setting the latest version was helpful and actually connected the next time around.

I was able to run my previous incorrect SQL statement and get a better return message:

[code]

Then, when I fixed my SQL statement as indicated in your comment, I successfully got a non-error response:

[code]

I think these couple of changes to the README will be helpful for

[2020-07-24 16:46] #74 closed

[2020-07-24 16:50] koxudaxi commented on #74
@pzula
It's great :tada:

Thank you for your good advice.
I will change README tomorrow. :smile:

[2020-08-08 08:12] pmalon commented on #41
I am getting exactly the same error when using `rds-data-api-client-library-java` library with 1.0.3 version - I am not specifying `transactionId` at all but it seems that this library defaults to an empty String:
`    private String transactionId = ""; // RDS Data API understands empty string as "no transaction"
`
As a workaround I set `transactionId` explicitly to `null` and it worked fine

[2020-08-08 08:47] koxudaxi commented on #41
@pmalon
Interesting !!
I will change to care `empty string`  on `transactionId` :writing_hand:
Thank you.

[2020-08-10 16:04] koxudaxi commented on #41
@pmalon
I have released a new version as [`0.5.1`](https://hub.docker.com/layers/koxudaxi/local-data-api/0.5.1/images/sha256-b13f469b4a8e204f42cf794652f26329d080ca9e8de35cee4a4dff1c9f8e4c3e?context=explore) :rocket:

[2020-08-10 16:15] pmalon commented on #41
I confirm that it's fixed now 🎉
thanks for fast turnaround 👏

[2020-08-10 16:47] koxudaxi commented on #41
@pmalon
Thank for your reply.
I'm happy to resolve the problem :smile:

[2020-09-07 16:36] koxudaxi commented on #41
I believe that this problem had been resolved.

[2020-09-07 16:36] #41 closed

[2020-09-07 16:39] koxudaxi commented on #50
I think this problem is resolved.

[2020-09-07 16:39] #50 closed

[2020-09-14 18:07] lastmjs commented on #23
Will local-data-api emulate the 1mb limit? That would be very useful

[2020-09-15 04:45] koxudaxi commented on #23
@lastmjs
Thank you for your request.
OK, I will try it.

[2020-10-13 08:24] healthpraxone opened #77 "Not able to run any SQL Query against local-data-api docker image on Mac Machine"
**Describe the bug**
Not able to run any SQL Query against local-data-api docker image

**To Reproduce**
Steps to reproduce the behavior:
1. Create new file named docker-compose-local-db.yml
2. Copy the following content in the yml file
[code]
3. save file
4. run command in terminal window
`docker-compose  -f docker-compose-local-db.yml up`
5. docker is up and running
6. run following command in o

[2020-10-17 14:21] koxudaxi commented on #77
@healthpraxone
Sorry for replying so late.

We have tested your problem.
But, It works on a co-worker's machine. :thinking:  (I don't have mac machine.)

- OS: MAC OS
Server Version: 19.03.13
 Kernel Version: 4.19.76-linuxkit

aws --version
aws-cli/2.0.56 Python/3.7.4 Darwin/19.6.0 exe/x86_64

The result
[code]

Did you run another server on the same port?
I guess local-data-api don't respond to a

[2020-10-18 14:50] #77 closed

[2020-11-08 11:13] ablankenship10 opened #78 "Docker container fails to start with Python errors"
**Describe the bug**
Docker Compose fails to start service and constantly restarts

**To Reproduce**
Steps to reproduce the behavior:
1. create docker-compose.yml in project
2. run docker-compose up

**Expected behavior**
The service starts successfully and accepts connections

**docker-compose.yml**

[code]

**Error Messages**
[code]

**Desktop (please complete the following information):**
 - OS

[2020-11-08 11:25] ablankenship10 commented on #78
Dug around in the code and looks like the README info for Postgres should be updated to show
`ENGINE: PostgresSQL`

instead of

`ENGINE: PostgreSQLJDBC`

[2020-11-08 12:15] ablankenship10 commented on #78
Separate issue, or question rather, but I wont open a new one right now.. I used the dummy values for the ARNs and AWS-SDK is yelling at me that it doesn't belong to my AWS user. Do I need a real active cluster? I'm still in early development and have not spun one up yet. Can I use this fully locally?

[2020-11-09 02:11] koxudaxi commented on #78
@ablankenship10
I'm sorry for the late reply.

[code]
Thank you for your report
I will fix a document soon.

Yes, I believe to able use this app on a local-machine.
And, I wouldn't need a real-aws environment.

I have tested your setting with this command in my local. The result is good.
[code]
Also, I ran the same api in python. It works fine.

I guess your AWS-SDK may validate dummy ARN.
What la

[2020-11-09 02:15] ablankenship10 commented on #78
Thanks for your reply, I'm using Node.js (https://www.npmjs.com/package/aws-sdk)

I've run into such issues before with other packages using aws-sdk. If I remember right there is a way to avoid this, let me try and see if i can make it work correctly.

[2020-11-09 02:23] koxudaxi commented on #78
In python, I use dummy Credentials.
[code]

Also, some users use this app for Node.js
they posted examples in this issue.
https://github.com/koxudaxi/local-data-api/issues/41

You may need to cheat Credentials:thinking:

[2020-11-09 02:23] ablankenship10 commented on #78
Ah hah! Your example above lead me to setting an Endpoint URL in the typeORM ConnectionOptions serviceConfigOptions fields that are passed to the AWS-SDK like so:

[code]

Thanks a ton!

[2020-11-09 02:26] koxudaxi commented on #78
I'm happy :smile:

I will improve the documents.

Thank you very much.

[2020-11-09 05:41] koxudaxi commented on #78
@ablankenship10

[code]

I have checked your docker-compose.yml again.
The engine name is invalid.

 `PostgresSQLJDBC` is wrong.
the correct is `PostgreSQLJDBC`.
https://github.com/koxudaxi/local-data-api/blob/3651f0c0bb7a5590dafc9e6a87b33a49c63a8c85/docker-compose-postgres.yml#L8

[code]

I recommend choice `PostgreSQLJDBC` for better behavior.
Because `PostgreSQLJDBC` uses a JDBC driver that is

[2020-11-09 05:45] ablankenship10 commented on #78
Ah that seems to work too, so both PostgreSQLJDBC and PostgreSQL are supported but JDBC is better?

[2020-11-09 05:49] koxudaxi commented on #78
Yes, JDBC is better:) Also, I guess AWS Aurora uses a JDBC driver

[2020-11-09 05:54] ablankenship10 commented on #78
Perfect, il use that then :)

Another question as you may know more about the internals of whats going on with the AWS SDK, whats going on with the executeStatement vs executeSql calls? It seems like the latter is deprecated and the former is what other libraries are using to make calls. Any idea if you can just pass a straight string with values into the executeStatement method rather than breaki

[2020-11-09 06:13] koxudaxi commented on #78
Yes, `executeSql` is deprecated. local-data-api doesn't support the API.

AWS team is developing DataAPI actively.
local-data-api doesn't support some features.
For example, I have never seen [this option](https://docs.aws.amazon.com/rdsdataservice/latest/APIReference/API_ResultSetOptions.html#rdsdtataservice-Type-ResultSetOptions-decimalReturnType)
They have updated API when I don't know.

But, T

[2020-11-09 06:57] ablankenship10 commented on #78
Thanks for the link. I'm Using TypeORM (nodejs/typescript) and failing to use an array(string) field. Its supported by Postgres with SQL so unsure why they made a weird API instead of just letting you pass a normal SQL string directly. From what I can tell it is *supposed* to be supported now via the data api using arrayValues but for some reason the packages im using (data-api-client via TypeORM)

[2020-11-16 10:53] filipsuk opened #79 "Support PGpoint"
**Is your feature request related to a problem? Please describe.**
All queries related to `point` postgres type fail.

**Describe the solution you'd like**
Add support for PGpoint. I think point should be handled as a string type similarly to pgarray https://github.com/koxudaxi/local-data-api/pull/63/files

**Additional context**
Using `ENGINE: PostgreSQLJDBC`

Exception:

[code]

thanks this amaz

[2020-11-17 16:34] koxudaxi commented on #79
@filipsuk
Thank you for creating this issue.

OK, I will try it.

[2020-11-18 03:31] koxudaxi commented on #79
@filipsuk
I have pushed a new image as `0.5.2` 🚀
This version parses all PostgreSQL geometric types as string

[2020-11-19 10:06] filipsuk commented on #79
@koxudaxi amazing! thank you, works as expected 🎉

[2020-11-19 10:06] #79 closed

[2020-11-19 12:03] filipsuk opened #81 "Postgres: Unable to use "::" cast syntax together with parameters"
**Describe the bug**
I am unable to use PostgreSQL type cast "::" operator together with parameters. This works with AWS Data API.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a query with a parameter and a type cast. E.g. `SELECT :some_param::VARCHAR`
2. See error `BadRequestException: ERROR: syntax error at or near ":"`

**Expected behavior**
Casts the parameter without an error.

*

[2020-11-21 15:29] koxudaxi commented on #81
Sorry for the late reply.
local-data-api uses [sqlalchemy](https://www.sqlalchemy.org/) to build a query.
I guess sqlalchemy doesn't support this syntax.
local-data-api should replace the syntax to `CAST` with `regex`
I will implement it.

Thank you.

[2020-11-21 17:07] koxudaxi commented on #81
What SQL did you run to local-data-api?

I enter simple queries with "::"  to local-data-api.
I used this [docker-compose.yaml](https://github.com/koxudaxi/local-data-api/blob/master/docker-compose-postgres.yml)

It works fine. the value is cast.
[code]

[2020-11-21 21:10] filipsuk commented on #81
It looks like you are not casting a parameter value but just a value literal.

:param::VARCHAR (and pass param=1) - throws error

vs

1::VARCHAR does not throw error

[2021-01-24 01:29] Balajanovski opened #85 "TIMESTAMP typehint parses incorrect format"
**Describe the bug**
The local data api interprets the typehint of TIMESTAMP as needing to parse the supplied string from iso format.
However, rds data client does not interpret timestamps from the python iso format. The timestamps should instead be in the form `YYYY-MM-DD HH:MM:SS[.FFF]`.
Source: [Data Api Docs](https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html)

**Expect

[2021-01-24 01:45] Balajanovski commented on #85
Found the issue.

I was using "%Y-%m-%d %H:%M:%S.%f" with my hypothesis tests. But for years before 1000, this would be formatted with a 3 digit year code that would not be recognised.

[2021-01-24 01:45] #85 closed

[2021-01-27 17:55] QAnders opened #86 "PostgreSQL "RETURNING" is not returning..."
**Describe the bug**
Using an "INSERT INTO" with "RETURNING *" is not returning any data, only empty array.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Expected ID column value to be returned but got empty Array.

[2021-01-28 08:09] QAnders commented on #86
Sorry, bad data, it is returning!

[2021-01-28 08:09] #86 closed

[2021-02-16 16:42] jgomes94 opened #87 "Getting "detail": "Not found""
**Describe the bug**
I have the docker compose as follows:
version: "3.1"

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. docker-compose up -d
2. Postman Request to get to http://127.0.0.1:8080 without any params.

And I get everytime ' "detail": "Not Found"'. I have tried to access it programatically in a Node JS env and it's the same everytime i get '"detail": "Not Found", no matte

[2021-02-17 02:14] koxudaxi commented on #87
Thank you for creating this issue.
Would you show me the code for a client-side?
I guess "detail": "Not Found" was returned by `local-data-api`.
But, The client accessed to `/` . the root path is undefined in ` local-data-api`.
The local-data-api expect access like `/Execute`

https://github.com/koxudaxi/local-data-api/blob/2c58206f0221c913521778c627ed2bdbff11d274/local_data_api/main.py#L73-L78

[2021-02-17 11:58] jgomes94 commented on #87
Thanks for quick reply koxudaxi, you are right, I tried the /Execute and it answered me "detail":"Method not allowed", which makes more sense since i didn't set any params.

My client code looks like this:

[code]
I am using it to simulate locally an AWS lambda. And i get this cyptic stack trace when i run the code:
![image](https://user-images.githubusercontent.com/32710158/108200951-15459400-711

[2021-02-17 18:06] koxudaxi commented on #87
I think this problem came from the client settings
Have you read this comment yet?
https://github.com/jeremydaly/data-api-client/issues/79#issuecomment-768126882

Also, you can check to able to connect to it with aws-cli.
https://github.com/koxudaxi/local-data-api#how-to-use-this-image

[2021-02-18 16:32] jgomes94 commented on #87
hi @koxudaxi I've tried to solution, however, it did not work.

I am suspicious that is something with the AWS SDK. I tried to use the function from the SDK itself and I get the same error. And even in that I still didn't get the log on the docker that a request arrived.

I'll close this issue and try with the AWS SDK team as I feel this is something with it.
Thanks for your help @koxudaxi

[2021-02-18 16:32] #87 closed

[2021-02-18 17:14] koxudaxi commented on #87
@jgomes94
I have tried your example.
The result is a success.

[code]

sample.ts
[code]

[code]

[2021-02-18 17:25] jgomes94 commented on #87
You are right ,with that code I could also make it work. Now I'm starting to wonder if it's the webpack that compiles the typescript into the JS.

Thanks again @koxudaxi

[2021-02-18 17:48] jgomes94 commented on #87
btw @koxudaxi I would like to pay you a beer as a thank you, If you send me your paypal to https://www.linkedin.com/in/gomes-joao/ I will send it to you. thanks!

[2021-02-18 18:06] koxudaxi commented on #87
@jgomes94
Thank you!! I sent you a message. But you can't verify the account is actual me.
 I usually don't use Linkedin. 😅

[2021-03-04 16:53] roganov opened #88 "Exception with Postgres BYTEA type"
local-data-api image: koxudaxi/local-data-api:0.5.4
PostgreSQL image: postgres:10.12-alpine

Given table such as
[code]
and a query such as
[code]
local-data-api throws this exception:
[code]

[2021-03-04 19:54] roganov commented on #88
OH this doesn't really support all cases because of https://github.com/baztian/jaydebeapi/issues/147.

[2021-03-05 02:10] #88 closed

[2021-03-05 02:36] koxudaxi commented on #88
@roganov
I have released a new version as `0.5.5`

OK, I feel good to resolve your issue. we would fix other cases in the next chance.

Thank you very much!!

[2021-03-05 09:43] roganov commented on #88
Thanks for merging and your work on this project!
Unfortunately I'm back to using native driver because of the issue I linked above.

[2021-03-05 14:42] koxudaxi commented on #88
I got it.  I will tell you when the problem is fixed in some time 🚀

[2021-03-08 19:02] akarmes opened #90 "Incorrect parsing of timestamp's milliseconds with a leading zero"
**Describe the bug**

Given a column of type timestamp, leading zero in milliseconds is ignored. Example: inserted value "2021-03-03T08:31:15.077Z" will be read as "2021-03-03 08:31:15.770000"

**To Reproduce**

Given following table:

[code]

And following test script

[code]

The output would be following:

[code]

**Expected behavior**

Is should behave equally to AWS Aurora Data API and return

[2021-03-09 15:29] koxudaxi commented on #90
@akarmes
Thank you for creating this issue.
OK, I will fix it!!

[2021-03-10 18:56] akarmes commented on #90
@koxudaxi Thank you for your fix! I've tried `0.5.6` and now output format is correct in the sense that it returns 3 digits for milliseconds.

But the other issue still persists: it has a bug with leading zero. The value `2021-03-03 00:00:00.055` will be parsed as `2021-03-03 00:00:00.550`.

[2021-03-11 02:12] koxudaxi commented on #90
@akarmes
hmm, I can't reproduce the promble.
[code]
[code]

Also, I used this logic to get the first three numbers.
I don't understand why the first zero is dropped. 🤔
https://github.com/koxudaxi/local-data-api/blob/dde8601489c102464e9f79f929f828e3be50988b/local_data_api/resources/resource.py#L335-L337

[2021-03-11 05:36] koxudaxi commented on #90
I'm sorry, you are correct.
I ran the command to real Data-API 😢

I found the bug in the driver.
https://github.com/baztian/jaydebeapi/blob/cd2fd4c6c047803916fc92a534f02f1213e252d6/jaydebeapi/__init__.py#L619-L625
[code]
https://github.com/baztian/jaydebeapi/pull/177
This PR has not merged yet. 😓

[2021-03-11 09:15] koxudaxi commented on #90
@akarmes
I have released a new version as `0.5.7`
It passed the integration test.
https://github.com/koxudaxi/local-data-api/blob/18a8d3fd0f025eeb8acac09e075e25b99e75be59/scripts/integration-test.sh#L103-L104

[2021-03-11 10:26] akarmes commented on #90
Thank you @koxudaxi! I can confirm the issue is resolved.

[2021-03-11 10:26] #90 closed

[2021-03-11 13:06] akarmes commented on #90
@koxudaxi I've tested version 0.5.7 more extensively and noticed, that given a row with `null` value for column of a timestamp type, local-data-api is returning string "None". I'll post an example later

[2021-03-11 15:08] koxudaxi commented on #90
@akarmes
I just fixed it and released `0.5.8` 🚀
Thank you very much.

The wrapper of the JDBC driver for Python is buggy.
I want to replace this implementation with Kotlin when I get the time 😅
https://github.com/koxudaxi/local-data-api/issues/70

[2021-03-11 15:11] akarmes commented on #90
I was just writing next bug report 😅 Thank you again!

[2021-03-16 01:08] rockstar opened #95 "ExecuteSql is not implemented"
Set up a local-data-api environment to test against, and once my application was able to execute sql against the application, I ran into a `NotImplementedError` in local-data-api. At first I thought I must be missing something in the config, but [looking at the source](https://github.com/koxudaxi/local-data-api/blob/master/local_data_api/main.py#L33) it appears that this really was never implement

[2021-03-16 01:17] koxudaxi commented on #95
Thank you for creating this issue

According to ExecuteSql is a deprecated API.
We should not use this feature.
I can implement it. But, who needs the feature? 🤔

[2021-03-16 13:51] rockstar commented on #95
Ah, the tooling I was using had outdated docs and examples. I don't need this now, as I'm using `/ExecuteStatement`

[2021-03-16 13:51] #95 closed

[2021-03-16 19:23] koxudaxi commented on #81
@filipsuk
I'm sorry for the late.
I have released a new version `0.6.0`
The version has been re-written in Kotlin for the JDBC driver.
I believe resolved this problem.

[code]

[2021-03-16 19:28] koxudaxi commented on #70
@MarkHerhold @akarmes
I have released a new version 0.6.0
The version has been re-written in Kotlin for the JDBC driver.
I thought I need only 2days to re-write API in Kotlin. But, I spent 4 days developing it 😅

[2021-03-17 22:39] carlocorradini opened #106 "Error creating foreign keys in version 0.6.0!"
**Describe the bug**
Since yesterday I was using your awesome project without any issue. Today I've upgraded the Docker image to version 0.6.0 and the entire project is not working any more due to **UnhandledPromiseRejectionWarning: BadRequestException: Database error code: 0. Message: ERROR: syntax error at or near "RETURNING"** when using relations in the database.
**The error message is receive

[2021-03-18 10:05] koxudaxi commented on #106
@carlocorradini
Thank you for giving detail of the problem 🚀
I have fixed the problem and released it as `0.6.1`
The version adds the RETRUN statement on the only `INSERT`, `DELETE`, and `UPDATE`.
I guess the three query types need generated key in responses.
Otherwise, the generated key is not needed.

If my thought is not correct then please teach me the other cases 😅

[2021-03-18 11:08] carlocorradini commented on #106
@koxudaxi Thanks!🤩🤩🤩🤗🤗🤗

[2021-03-18 12:02] carlocorradini commented on #106
@koxudaxi

I've found another error due to the usage of *uuid*.

<img width="1033" alt="error_2" src="https://user-images.githubusercontent.com/21266147/111622818-e986fe00-87e9-11eb-895c-56b65bf68403.png">

Error message: **Database error code: 0. Message: ERROR: operator does not exist: uuid = character varying. Hint: No operator matches the given name and argument type(s). You might need to add

[2021-03-18 18:09] filipsuk commented on #81
Thank you for the update 🎉 ! I will give it a go later, I will close the issue for now.

[2021-03-18 18:09] #81 closed

[2021-03-18 18:24] koxudaxi commented on #106
@carlocorradini
Thank you for reporting the problem !!

Would you please check a new version `0.6.2`?

I have changed the JDBC driver options.
JDBC driver will not cast string value to column type on the local-data-api.
The process will be run on DB.

Btw, May I add your test code to the project as an integration-test?

[2021-03-18 18:25] carlocorradini commented on #106
Of course!

I'm glad to help! 🤗🤩

[2021-03-18 18:25] carlocorradini commented on #106
Give me 5 minutes

[2021-03-18 19:43] carlocorradini commented on #106
@koxudaxi

I've found another error due to the save method does not return the full data but only the data sent to the database. For example if we save the user with only the name (id is autogenerated) we receive back only the name and not the id & name.

<img width="656" alt="error_3" src="https://user-images.githubusercontent.com/21266147/111687277-62a64580-882a-11eb-9dec-e7b6647394ce.png">

I'v

[2021-03-20 09:07] koxudaxi commented on #106
@carlocorradini
I'm sorry for late reply. I was busy yesterday.
I have pushed a fixed version as 0.6.3.
Thank you for your help every time.🙏

Thanks!!
I have copied the code  getting generated fields from python implementation 😁

[2021-03-20 10:46] carlocorradini commented on #106
Don't worry, your reply is a lot faster than the majority of the other maintainers. 😂

I'm honored to help you to improve this awesome project.

Now I'm busy, give me a couple of hours and I let you know.

[2021-03-20 16:22] carlocorradini commented on #106
@koxudaxi

After hours of trial and error I've finally discovered another issue (sorry 😅😅😅) that is a little "bit dangerous" since has not been discovered not even in the older versions (pre 0.6).

The value of ```timestamptz (timestamp with timezone)``` (See [this](https://www.postgresql.org/docs/9.1/datatype-datetime.html)) is trimmed after 3 digits (of the ms) removing the 'Z' of the timezone.

[2021-03-20 16:37] koxudaxi commented on #106
@koxudaxi

Thank you for your report!!

Is my implementation wrong?
I thought `Z` delimiter is dropped on the response. 🤔
Can you check the real response from AWS DataAPI?

For Amazon Aurora PostgreSQL, the Data API always returns the Aurora PostgreSQL datatype TIMESTAMPTZ in UTC timezone.

https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/data-api.html

[2021-03-20 16:56] carlocorradini commented on #106
@koxudaxi

I've found this:
![image](https://user-images.githubusercontent.com/21266147/111877876-98236e00-89a5-11eb-9f0e-1fa25d586b4c.png)

Info heere: <https://docs.aws.amazon.com/redshift/latest/dg/federated-data-types.html>

[2021-03-20 16:57] carlocorradini commented on #106
@koxudaxi

Is strange that timestamptz is not supported since the PostgreSQL community suggests to use it instead of the simple timestamp.

Info: <https://justatheory.com/2012/04/postgres-use-timestamptz>

[2021-03-20 17:08] carlocorradini commented on #106
Unofrtunately, I can't right now 😣

[2021-03-20 17:20] koxudaxi commented on #106
@carlocorradini
I ran your test to real AWS DataAPI.
I got an error.
The problme is same as https://github.com/koxudaxi/local-data-api/issues/106#issuecomment-801871661 ?
[code]

[2021-03-20 17:30] carlocorradini commented on #106
It seems the same error but uuid is supported both in data-api and TypeORM driver (See <https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/releases/tag/v1.4.0>)

[2021-03-20 17:33] carlocorradini commented on #106
However, try using number instead of uuid.

Symply update:

*FROM:*
[code]

*TO:*
[code]

[2021-03-20 17:44] koxudaxi commented on #106
There is real result.
[code]

[2021-03-20 18:01] koxudaxi commented on #106
Also, I executed a query for `timestamptz` with aws-cli.
the value doesn't have `Z` and the ms is  6 digits 🤔

"stringValue": "2021-03-20 17:55:00.016735"

[2021-03-20 18:10] carlocorradini commented on #106
@koxudaxi

See <https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/62>

[2021-03-20 18:12] koxudaxi commented on #106
@carlocorradini
Thanks!!
I will change the response of `timestamptz`  to 6 digits tomorrow.

[2021-03-20 18:13] carlocorradini commented on #106
Have you have any idea why?

Probably I have too little experience (still a University student) but... How customers of *AWS Aurora* can deal with it if the database has *the recommended date & time "format"*.

[2021-03-20 18:13] carlocorradini commented on #106
Again... thanks for your help and time that you are dedicating to me.

[2021-03-20 18:23] koxudaxi commented on #106
@carlocorradini

For Amazon Aurora PostgreSQL, the Data API always returns the Aurora PostgreSQL datatype TIMESTAMPTZ in UTC timezone.

I don't know the reason why AWS implement this way.
But, They said the timezone is fixed as `UTC`. We can parse the timestamp correctly.
I guess they think the timestamp format should not depend on the database type.

No problem!! Thank you for your help 😄

[2021-03-20 18:32] carlocorradini commented on #106
@koxudaxi

See <https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/57#issuecomment-803439025>.

I'll monitor the progress

[2021-03-21 06:33] koxudaxi commented on #106
@carlocorradini

I have pushed a new version `0.6.4`

[2021-03-22 19:53] carlocorradini commented on #106
There is a new version for typeorm-aurora-data-api-driver. See <https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/issues/57#issuecomment-803576828>.

I have updated my repository: <https://github.com/carlocorradini/local-data-api-issue>

Unfortunately the timestamptz is treated as a string (again). However you can try for the support of uuid, etc...

Thanks!

PS: typeorm has not ye

[2021-03-23 16:29] koxudaxi commented on #106
I got an error when I ran your test code with real data-api
[code]

[2021-03-23 16:48] koxudaxi commented on #106
I guess the regex match only 3 digits for ms.
But, the real response 6 digits...

https://github.com/jeremydaly/data-api-client/blob/587f8f5707b0c6eb077b3420cace1735565f259a/index.js#L237-L243
[code]

I ran simple test with real data-api
[code]

[2021-03-24 09:36] carlocorradini commented on #106
I've updated the repo with the new version of the drives that has fixed the timestamptz problem.

However currently there is the deprecation notice to solve.

That userId is really strange...

[2021-03-28 13:04] ArsenyYankovsky opened #112 "Doesn't emulate timetz and time with time zone correctly"
**Describe the bug**
Currently the Data API will always convert every type containing a timezone into UTC. For example, if you save the value "15:30:00 PST" into a `timetz` or a `time with time zone` column and then query the same row it will return "23:30:00".

Local Data API, however, returns a string with timezone "15:30:00 PST".

[2021-03-28 13:41] koxudaxi commented on #112
Thank you for the reports.
I will fix it.

[2021-03-28 14:26] ArsenyYankovsky commented on #112
Thanks, looking forward to uncommenting some test cases :)

[2021-03-29 05:27] koxudaxi commented on #112
@ArsenyYankovsky
I have pushed a fixed version as `0.6.5`

[2021-03-29 07:30] ArsenyYankovsky commented on #112
Unfortunately, I'm still getting the timezoned value back. Here are the queries I'm running:

[code]

Expected value in both the `timeWithTimeZone` and `timetz` columns is `23:30:00`, but I'm getting back `15:30:00-08`

[2021-03-29 07:38] koxudaxi commented on #112
I'm sorry, I expected the behavior when the type is the `timestamptz` and `timestampWithTimeZone`.
I will add the converting method for `timeWithTimeZone` and `timetz`

[2021-03-29 15:14] koxudaxi commented on #112
@ArsenyYankovsky
I have pushed a fixed version.
Would you please check it?

[2021-03-29 16:26] ArsenyYankovsky commented on #112
@koxudaxi Thanks for a quick fix! Awesome work, it does work as intended.

However, I noticed a new bug in the 0.6.6 related to the MySQL engine.

I'm running the following queries:

[code]

I'm getting the following in both timestamp and datetime columns from the *local* Data API:
`"2021-03-29T14:22:14.000Z"`

And this is what I'm getting from a real Data API:
`""2021-03-29T16:22:14.000Z"`

[2021-03-30 01:29] koxudaxi commented on #112
@ArsenyYankovsky
Thank you for testing it.
But, I can't reproduce the problem.

I tried some queries... I got the correct results.
Would please share your test code? Or, more examples.
[code]

[2021-04-01 15:12] chaiiplss opened #116 "Autoreload is disabled because the development mode is off"
**Describe the bug**
With `v0.6.0` and above, running the `docker run` command gives the following issue -

<img width="867" alt="Screenshot 2021-04-01 at 8 36 27 PM" src="https://user-images.githubusercontent.com/64968087/113314533-0fec8380-932a-11eb-9f2e-ee02399b350d.png">

**To Reproduce**
1. Run the following command -
[code]

**Expected behavior**
(Successful with `v0.5.8`)

<img width="867"

[2021-04-02 01:27] koxudaxi commented on #116
@chaiiplss
Thank you for creating this issue.
I can change the option to `on`.
But, Why did you want auto-reload is enabled?
I guess the app will not be changed.

[2021-04-02 05:30] chaiiplss commented on #116
@koxudaxi So this would be the source of the issue which I could pinpoint. When I tried to create tables and populating them with the script that I wrote using data-api-client, script started giving errors w.r.t connection to mysql server.

I checked with data-api-client, there was no change in the version over there. Even when connection somehow worked, query was not parsed correctly. _(Not sure

[2021-04-02 09:38] ArsenyYankovsky commented on #112
Thanks for trying it. I can still reproduce it.

https://github.com/ArsenyYankovsky/typeorm-aurora-data-api-driver/blob/59905238727e45e322adc353fb64006e2851dde0/test/functional/mysql/simple-queries.mysql-func.test.ts#L229
This is the test I have.

It requires nodejs and yarn to run.

If you want to run it please do the following:

1. Check out the repo
2. Install dependencies

[code]

3. Build the

[2021-04-03 04:14] dtvuong opened #117 "java.net.SocketException: Permission denied"
**Describe the bug**
I got the below error when docker-compose up.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone this project
2. Use docker-compose to start it `docker-compose -f docker-compose-postgres.yml up`
3. Here is  docker-compose-postgres.yml content

[code]
5. See error

** Environment
 - OS: CentOS Linux release 7.6.1810
 - Docker: Docker version 20.10.5, build 5

[2021-04-05 10:07] koxudaxi commented on #116
@chaiiplss
I'm sorry for my late reply.
I have tested your query with awscli.
I can't get the error.
I use the latest version (`0.6.6`) local-data-api

Your problem may came from your client library.
How did you run the query?

[code]

[2021-04-05 16:03] koxudaxi commented on #117
@dtvuong
Thank you for creating this issue.
And, I'm sorry for my late reply.
I can't reproduce the problem in my macOS and Ubuntu 20.10.
I guess the problem can't listen to the port.
You can use the workaround to change internal port 80 to 8080.
Would you please try it?
[code]

[2021-04-06 14:13] chaiiplss commented on #116
@koxudaxi So this is how I am trying to run the query.
- I am using this package to connect to the local mysql server.
- Then, I am using the [data-api-client](https://github.com/jeremydaly/data-api-client) package and running my query using that instead. I am not running it on cli.

This is the config that I have used in `data-api-client`. I don't think there is any issue with data-api-client sid

[2021-04-06 17:11] koxudaxi commented on #116
@chaiiplss
I just tested your SQL with `data-api-client`.
It works on local-data-api and real AWS DataAPI.
Also, I use [this docker-compose.yml](https://github.com/koxudaxi/local-data-api/blob/master/docker-compose-mysql.yml)
I recommend using the latest version (`0.6.7`) which is fixed few bugs.

I show you the test script and the result.

### sample.ts
[code]

### Result

[code]

[2021-04-06 17:14] koxudaxi commented on #112
@ArsenyYankovsky
I'm sorry for my late reply.
And, Thank you for the test.

I have released a fixed version as `0.6.7`.
The version can pass your date/time tests.

[2021-04-06 20:52] ArsenyYankovsky commented on #112
@koxudaxi Thanks for the fix and for the awesome project. Great job!

[2021-04-06 20:52] #112 closed

[2021-04-07 16:10] chaiiplss commented on #116
Thanks, I'll try this out and let you know!

[2021-04-08 12:37] theDevelopper opened #119 "cannot insert array with PostgreSQL"
**Describe the bug**
Using local-data-api 0.6.7 with PostgreSQL I get an error when trying to pass an array as parameters in AWS.RDSDataService function executeStatement using JavaScript.
Postgres supposts Arrays as data type and RDSDataService does as well. But using arrays with local-data-api seems to not be supported as I get the following error in the docker logs:

[code]

**To Reproduce**
Ste

[2021-04-08 18:27] koxudaxi commented on #119
@theDevelopper
Thank you for creating this issue.
Yes, I have not implemented it yet.
I will add the feature.

[2021-04-11 16:29] dtvuong commented on #117
@koxudaxi
Thanks for your response.
I tried with your suggestion and the "Permission denied" error no longer appears but I still cannot access to local data-api.
I guess have something wrong with my docker installation. I will check and respond to you later.

どうもありがとうございます。

[2021-04-14 07:28] kobanyan opened #121 "Cannot access local-data-api on AWS CodeBuild"
**Describe the bug**

With `v0.6.0` and above, I get the below error at trying to access local-data-api on AWS CodeBuild.

[code]

**To Reproduce**

1. Create a stack

[code]

2. Start build

**Expected behavior**

Successful with `v0.5.8`

[code]

[2021-04-15 15:28] koxudaxi commented on #121
@kobanyan
Thank you for creating this issue.
I can reproduce the problem.
I have released a fixed version as `0.6.8`

Thank you very much.

[2021-04-15 15:30] koxudaxi commented on #117
@dtvuong
I have released a fixed version as `0.6.8`
I hope that the change can resolve the problem.
Thank you!!

[2021-04-16 01:35] kobanyan commented on #121
Thanks for the quick fix!

[2021-04-16 01:35] #121 closed

[2021-04-16 16:28] jeffster23 commented on #119
FYI, for those Python/boto3 users out there, I do not believe boto3 yet supports this: https://github.com/boto/boto3/issues/2272. So you will run the chance of this working correctly locally but breaking upon deploy.

I have taken to inserting arrays to Postgres as strings and explicitly casting them in the SQL statement.

[2021-04-16 16:52] ormu5 opened #124 "Support resultSetOptions in ExecuteStatementRequest"
In previous versions of local-data-api, I utilized resultSetOptions when issuing queries to Data API via execute_statement().

It appears it is not supported in the current version, which yields an error message like:

[code]

I'm not sure if this was deliberate or not, but it appears the option is still supported by AWS (we are in fact passing it to Data API in our deployed application):

https:/

[2021-04-17 14:59] koxudaxi opened #125 "Support array with PostgreSQL"
## Related Issues
https://github.com/koxudaxi/local-data-api/issues/119

[2021-04-18 17:21] koxudaxi commented on #124
@jeffster23
Thank you for creating this issue.
I have changed the behavior to ignore unknown parameters.
It means backward compatibility.

The version has been released as `0.6.9`

[2021-04-21 19:02] koxudaxi commented on #119
@theDevelopper
I ran your code.
But, I can get this error.
[code]

You use aws-sdk. But, aws-sdk doesn't support array parameters.
https://github.com/aws/aws-sdk/issues/9

I think the feature is priority low.

[2021-04-21 22:01] jeffster23 opened #128 "Return Postgres Arrays as Type 'arrayValue'"
I know there's some other discussion regarding Postgres arrays but this seemed to warrant a separate ticket.

Currently if I retrieve a column from Postgres of type `_text` (text array), the returned metadata for the column using local-data-api looks like:
[code]
Notice 'typeName' returning `text` instead of `_text`. When deployed on AWS, Data API returns for the same column:
[code]
Notice 'typeNa

[2021-04-22 02:21] koxudaxi commented on #128
@jeffster23
Thank you for explaining about the array.
I investigated about array in data-api yesterday.
It's difficult to insert array values via aws-sdk or boto3.
And, I stopped it. :(
How did you insert the data in Postgres?

I can implement that returning array value.
If the feature is worth it, I will do it.

But, inserting array value is too hard.
data-api cast some data in an array...
For ex

[2021-04-22 02:42] jeffster23 commented on #128
From what I've seen, I'm not sure it makes sense to implement the *insert* functionality for arrays in local-data-api since Data API does not itself support this, to my knowledge. Providing _more_ functionality than the actual AWS Data API would be as bad - actually, maybe worse! - as not providing as much.

For *reading* arrays, though, Data API seems to have more awareness and it would make sens

[2021-04-22 02:56] koxudaxi commented on #128
@jeffster23

I agree.

It's a great suggestion.
The first milestone is to support the array on the return value, and I will copy your sample to documents.
Also, If DataAPI will support inserting array value then local-data-api will support inserting array value as the second milestone.

Thank you very much 😄

[2021-04-23 09:47] jackychang113 commented on #117
@koxudaxi
I have same problem with latest version.
I used version 0.6.8, There can start local-data-api without errors.

# I tested by aws cli
[code]
=> **Got OK result**

# But execute query from java spring app
(rds-data-api-client-library-java)
=> **There're got errors.**
Logs in java sample.
[code]

Logs in local-data-api container
[code]

[2021-04-24 15:16] #125 closed

[2021-04-24 15:17] koxudaxi commented on #128
@ormu5
I have released a new version as `0.6.10`.
Would you please check it?

[2021-04-24 15:17] #124 closed

[2021-04-24 15:21] koxudaxi commented on #119
@theDevelopper
 I confirm we can't insert array value into real data-api.
 And Latest local-data-api returns the same error when you give `arrayValue`.
 If you want to insert array value you should try this workaround.
 https://github.com/koxudaxi/local-data-api#how-to-insert-array-data-into-postgresql

[2021-04-24 15:22] koxudaxi commented on #117
@jackychang113
Thank you for posting the problem.
I have released a new version `0.6.10` that version supports JavaSDK 🚀

[2021-04-25 10:52] filipsuk commented on #117
I had this permission problem in gitlab CI pipelines with v0.6.4. Upgrading to v0.6.10 helped. Thanks! 🚀

[2021-04-26 12:36] filipsuk opened #133 "Add EXPOSE to Dockerfile for better Gitlab CI compatibility"
**Is your feature request related to a problem? Please describe.**
Incompatibility with Gitlab CI pipelines. It uses exposed port to determine health.

**Describe the solution you'd like**
Add `EXPOSE` to Dockerfile.

**Describe alternatives you've considered**
Own fork of Dockerfile - hard to maintain.

**Additional context**
Extract from Gitlab pipeline when using local-data-api as a service.

[

[2021-04-26 14:44] koxudaxi commented on #133
@filipsuk
Thank you for creating this issue.

I have created an issue.
Did you expect this change?
https://github.com/koxudaxi/local-data-api/pull/134/files#diff-b2376088215c7365489ab3e0661c78ab634f79938688bce44659505e6e51d978R7-R9

[2021-04-26 16:30] filipsuk commented on #133
Yes 👍 . I can let you know if it resolved the problem when I try it with the new release of local-data-api.

[2021-04-26 16:44] koxudaxi commented on #133
@filipsuk
I have pushed it as `0.6.11`.
Would you please check it?

[2021-04-27 07:23] filipsuk commented on #133
@koxudaxi the problem within gitlab CI is gone with the new version 🎉  thanks!

[2021-04-27 07:23] #133 closed

[2021-04-28 13:55] ormu5 commented on #128
Busy week this week, happy to look at this soon, though.

[2021-05-02 19:42] ormu5 commented on #128
This looks good! I tried with text/int/float arrays in Postgres and received the following _correct_ column metadata:

[code]
Note 'typeName' having notation of '_<type>'.

And corresponding payload returned looks good, too, a couple of my test records being:

[code]
Note arrays correctly in 'arrayValue' object whose nested object correctly has Data API type for key and value of properly-parsed va

[2021-05-08 07:22] marcusmateus opened #137 "local-data-api does not behave the same as the real AWS data-api when handling PreparedStatement string types"
First, a big thank you for this fantastic project and all the work that has clearly been put into it. It is very much appreciated.

**Describe the bug**
Running certain queries does not behave the same in local-data-api as in a real AWS Aurora Serverless environment via the data-api.

local-data-api sets the postgres JDBC connection parameter `stringtype` to `unspecified` [here](https://github.com

[2021-05-11 21:22] marcusmateus commented on #137
@koxudaxi , it's crunch time at work right now, but I'll put together some example SQL and requests in the next few days.

[2021-06-23 14:26] akarmes opened #144 "local-data-api should respond with an error, if SQL exceeds 65536 characters limit."
Actual behavior:
It's sufficiently handling requests with `sql` string longer than 65536 characters

Expected behavior:
BadRequestException, 400 status code, message "Number of characters in SQLStatement is longer than 65536"

[2021-06-24 23:41] koxudaxi commented on #144
@akarmes
Thank you for creating this issue.
OK, I will implement it.

[2021-09-16 07:51] bestis opened #158 "Local data api is always using transactions with /Execute"
**Describe the bug**
Local data api is always using transactions and you cannot run queries which you need to run without transactions.

At least this is a big issue with PostgreSQL.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the query using the local rds data api with /Execute
[code]

2. See error
Reason: An error occurred (BadRequestException) when calling the ExecuteStatement ope

[2021-12-23 12:30] HaaLeo opened #179 "Publish this image to AWS ECR gallery"
# Description

I would love to use this image withing my AWS CodePipeline to run e2e tests in my CI/CD environment.

## Problem
When I try to fetch the image within a CodeBuild project it runs into the error:
[code]

## Possible solution

By uploading the image to the AWS ECR gallery one does not have any rate limits and the build environment can fetch the image as desired.

[2022-01-14 12:31] eddiepease opened #183 "Calling local-data-api from another container"
Hi,

I have just spent over the day fixing an issue where the local-data-api is being called from another docker container rather than localhost (in this case, I was using [SAM to invoke a local lambda container](https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-cli-command-reference-sam-local-invoke.html) but the situation applies more generally). While this is no

[2022-01-14 19:04] cecilialam opened #184 "BadRequestException: Connection refused"
**Describe the bug**
Hoping someone can help. I am trying to use the local-data-api image as is. Then, calling it as in the sample with `aws client`. I keep getting Connection refused error.

**To Reproduce**
Steps to reproduce the behavior:
1. On the 1st terminal, I have

2. On the 2nd terminal, I use the aws script in ReadMe and the response:

**Desktop (please complete the following information

[2022-05-18 15:03] bencoder opened #205 "Difference in behaviour when passing array formatted string parameters"
**Describe the bug**
We had a query like:
`SELECT * FROM tableName WHERE columnName = ANY(:param)`
and `:param` is a string like `'{Value1,Value2}'`

This was working fine when using local-data-api with postgres but on aws data-api failed with error:

`ERROR: op ANY/ALL (array) requires array on right side\n  Position: 464; SQLState: 42809`

We fixed it by adding a cast as suggested in the [insert

[2022-08-30 20:04] marshall7m opened #217 "Pinned koxudaxi/local-data-api image tag with custom SECRET_ARN support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

AFAIK only `koxudaxi/local-data-api:latest` supports providing custom SECRET_ARN environment variable. Within `koxudaxi/local-data-api:0.6.12` and probably older versions, if the SECRET_ARN does not equal the default ARN of `arn:aws:secret